<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>

<body>
     <div id="username-form">
        <h1> Chat </h1>

        <form id="username-form" action="/api/messages" method="POST">
            
            <input type="mail" id="username" placeholder="Escriba su usuario" name="user" required>
            <input type="text" id="messages" placeholder="Escriba su mensaje" name="messages" required>
            <button type="submit">Enviar</button>

        </form>

    </div>

<script src="/js/chat.js"></script>
</body>
</html>